/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

*{
    font-family: Times New Roman;

}
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0a669b;
}

input[type='submit'] {
    font-size: 0.8em;
}
input#post_name {
    width: 25%;
}

textarea#post_content {
    width: 40%;
}
.content {
    font-size: 1.5em;
    margin: 0 1em;
    padding: 1em;
    position: relative;
}

h1 {
    padding: 0px 10px;
    margin: 0;
}
.header {
    background-color: #000000;
    color: yellow;
    float: left;
    padding: 2px 0;
    width: 100%;
    margin: 0;
}

.header h1 .red {
    color: #ff0000;
}

.entry{
    border-top: 1px solid #CCC;
    padding: 6px 0 207px;
}

.posted_info {
    font-size: 0.8em;
    color: #696969;
    margin-top: 20px;
}

.field {
    margin: 30px 0;

}
.field label {
  font-size: 1.5em;
}

.spacer_vertical {
    margin: 45px 0 35px 0px;
}